/* ---------------------------------- */
/*            PAGE HOME.PHP           */
/* ---------------------------------- */

/* ---------------------------------- */
/* ------------- NAVBAR ------------- */
/* ---------------------------------- */
#main_logo {
  width: 50px;
  border-radius: 50%;
}

.navbar {
  width: 100%;
  z-index: 9999;
  top: 0;
  /*     background-color: #141A2A; */
}

/* ---------------------------------- */
/* -------------- MAIN -------------- */
/* ---------------------------------- */
#main_pic h1 {
  margin: 0px;
  padding: 0px;
}

#main_pic {
  height: 250px;
  max-height: 400px;
  background: url(image/main_pic.jpg) no-repeat center center;
  background-size: cover;
  margin: 0px;
  padding: 2px;
  color: white;
}


.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 1px 10px #000000;
}

  /* ---------------------------------- */
  /* ---------- COMMENTAIRES ---------- */
  /* ---------------------------------- */


.container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.card {
  height: 100%;
  width: 100%;
  margin: 10px;
  border: none;
  color: black;
}

  /* ---------------------------------- */
  /* ------------- FOOTER ------------- */
  /* ---------------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #141a2a;
  color: white;
}

/* ---------------------------------- */
/*             PAGE ARTICLE           */
/* ---------------------------------- */

#com_zone_title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.com_wrapper{
  border: 1px solid #c9c9c9;

}

.form_com {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.btn-submit,
.btn-success {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (min-width: 500px) {/* TAB */
  
    #main_pic{
      height: 400px;
      max-height: 600px;
    }
  }

@media screen and (min-width: 990px) {/* ORDI */
  /* ---------------------------------- */
  /* -------------- MAIN -------------- */
  /* ---------------------------------- */
  
  #main_pic{
    position: relative;
    min-height: 845px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }

  .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 10px #000000;
  }


  .card_home{
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }
}

  /* ---------------------------------- */
  /* -------- FORM LOGIN ADMIN -------- */
  /* ---------------------------------- */